/* NavItem.module.css */

.button {
  margin: 5px;
  background-color: #fa71ba;
  color: #071d5f;
  text-decoration: none;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 10%; /* Закругленные углы */
  transition: font-size 0.3s, padding 0.3s; /* Плавные переходы размера текста и отступов */
}

.button:hover {
  background-color: #dd5c9a;
}

/* Медиа-запросы для адаптации размера кнопок */
@media (max-width: 1200px) {
  .button {
    font-size: 14px; /* Уменьшаем размер текста для экранов до 1200px */
    padding: 8px 12px; /* Уменьшаем отступы */
  }
}

@media (max-width: 992px) {
  .button {
    font-size: 12px; /* Уменьшаем размер текста для экранов до 992px */
    padding: 6px 10px; /* Уменьшаем отступы */
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 10px; /* Уменьшаем размер текста для мобильных устройств */
    padding: 4px 8px; /* Уменьшаем отступы */
  }
}

  