/* Header.module.css */

.header {
  font-family: 'Playball', cursive;
  font-weight: 500; /* Более жирный текст */
  font-style: normal;
  font-size: 60px; /* Уменьшенный размер текста */
  margin-top: 20px;
  color: hsl(276, 83%, 42%); /* Более нейтральный и современный цвет */
  text-align: center;
}



  