/* Home.module.css */

.container {
  width: 80%;
  margin: 0 auto;
}

.header1 {
  font-family: 'Playball', cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 36px; /* Уменьшенный размер текста */
  margin-top: 20px;
  color: hsl(276, 83%, 42%); /* Более нейтральный цвет */
}

.header2 {
  font-family: 'Playball', cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 42px; /* Уменьшенный размер текста */
  margin-top: 20px;
  color: hsl(276, 83%, 42%); /* Более нейтральный цвет */
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; /* Уменьшенный зазор */
}

.col {
  flex: 1 0 22%; /* Adjust the percentage to change the number of columns */
  margin-bottom: 1rem;
}

  