.container {
  width: 80%;
  margin: 0 auto;
}

.header1 {
  font-family: 'Playball', cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 36px;
  margin-top: 20px;
  color: hsl(276, 83%, 42%);
}

.header2 {
  font-family: 'Playball', cursive;
  font-weight: 550;
  font-style: normal;
  font-size: 42px;
  margin-top: 20px;
  color: hsl(276, 83%, 42%);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.col {
  flex: 1 0 22%;
  margin-bottom: 1rem;
}

/* Mobile adaptation */
@media (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .header1 {
    font-size: 30px;
  }

  .header2 {
    font-size: 34px;
  }

  .row {
    gap: 2rem;
  }

  .col {
    flex: auto; 
  }
}
@media (max-width: 820px) {
  .container {
    width: 90%;
  }

  .header1 {
    font-size: 30px;
  }

  .header2 {
    font-size: 34px;
  }

  .row {
    gap: 1rem;
  }

  .col {
    flex: auto;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .header1 {
    font-size: 30px;
  }

  .header2 {
    font-size: 34px;
  }

  .row {
    gap: 1rem;
  }

  .col {
    flex: 1 0 100%; /* Ensure one column per row on small screens */
  }
}

@media (max-width: 480px) {
  .header1 {
    font-size: 24px;
  }

  .header2 {
    font-size: 28px;
  }

  .col {
    flex: 1 0 100%; /* Ensure one column per row on small screens */
  }
}


  