
.container {
    width: 76%;
    margin: 0 auto;
  }
  
  .header1 {
    font-family: "DM Serif Display", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    margin-top: 35px;
    color: hsl(276, 83%, 42%);
  }
  .header2 {
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    margin-top: 35px;
    color: hsl(276, 83%, 42%);
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
  
  .col {
    flex: 1 0 21%; /* Adjust the percentage to change the number of columns */
    margin-bottom: 1rem;
  }
  