.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

/* Styles for left group of buttons (navItemsL) */
.navItemsLeft {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

/* Styles for right group of buttons (navItemsR) */
.navItemsRight {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.navItem {
  font-size: 16px;
}

.activeLink {
  position: relative;
  text-decoration: none;
  color: #db1717;
}

.activeLink::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #5c62ec;
}

.normalLink {
  text-decoration: none;
  color: #fff;
  transition: opacity 0.2s ease-in;
  line-height: 24px;
  font-size: 21px;
}

.normalLink:hover {
  opacity: 0.8;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .navItemsLeft,
  .navItemsRight {
    width: 100%;
    margin-top: 10px;
    justify-content: center; /* Center align the items */
  }

  .navItemsLeft .nav_item,
  .navItemsRight .nav_item {
    font-size: 14px;
  }

  /* Merge left and right items into a single row */
  .navItemsLeft,
  .navItemsRight {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center; /* Center align the items */
  }
}




  
  
  
  
  
  
  
  
  
  
  
  