
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Lemon&family=Modak&family=Poller+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/myFone3.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.buttonsRight-class {
  position: absolute;  
  left: 5px;
  margin-left: 530px;
}
.buttonsLeft-class{
  position: absolute;
  right: 5px;
margin-right: 575px;
  
  
}
.button{
    margin: 5px;
    background-color:#dd84b4;
    color: #071d5f;
  
}
.header{
  font-family: "Bonheur Royale", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  margin-top: 35px;
  color: hsl(276, 83%, 42%);
}

.header1{
  font-family: "Bonheur Royale", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin-top: 35px;
  color: hsl(276, 83%, 42%);
}

footer {
  
  position:relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa; 
  padding: 20px; 
  box-sizing: border-box; /*  padding в ширине*/
}
.card-img-top {
  height: 400px; /*высотa для изображений */
  /* //object-fit: cover; Устанавливает режим заполнения изображения, чтобы оно полностью заполняло контейнер */
  object-fit:cover; 
  padding: 15px; 
}

nav{
width:50%;
}

.nav-item {
  display: flex; /* Используем flexbox для выравнивания элементов */
  align-items: center; /* Выравнивание по вертикали */
 
}
.phone-wrapper{
  margin-right: 80px;
  font-size:23px;
}
