* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: rgb(105, 93, 172);
    color: #ffba0d;
    padding: 4rem 10rem;
    border: none;
    outline: none;
    box-shadow: .5rem .5rem 1rem rgba(0,0,0,.8);
    border-radius: 2rem;
    cursor: pointer;
    font-size: 2.8rem;
    transition: .5s;
}

.btn:active {
    transform: translateY(.5rem);
}

/* Sign up content */

.container{
    padding: 1.6rem;
}

input[type=email], input[type=password]{
    width: 100%;
    padding: 1.5rem;
    display: inline-block;
    border: none;
    margin: .5rem 0 2.2rem 0;
    background: #ddd;
}

input[type=email]:focus, input[type=password]:focus{
    background: #f1f1f1;
    outline: none;
}
h1{
    font-size: 3.5rem;
}

p{
    font-size: 1rem;
    margin-top: 1rem;
}

label{
    font-size: 2rem;
}

button[type=button]{
    background-color: #4caf50;
    color: #fff;
    padding: 1.4rem 2rem;
    margin: 0.8rem 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

button[type=button]:hover{
    opacity: 1;
}

button.cancelBtn{
    background-color: #f44336;
}

.buttons{
    display: flex;
}

.sing-up{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.7);
    padding-top: 5rem;
}

.sing-up-content{
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    width: 50%;
    border: 1.rem solid #888;
}

hr{
    border: .1rem solid #ccc;
    margin: 2rem 0;
}

.close{
    position: absolute;
    right: 3.5rem;
    top: 1.5rem;
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
}

.close:hover, .close:focus{
    color: #f44336 ;
}
